#about {
  perspective: 1500px;
}

#about p {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.8);
  transform: translateZ(50px);
}

#about .terminal-header {
  transform: translateZ(120px);
  color: #fff;
  text-shadow: 2px 2px 0px #000;
}

#about .lead-custom {
  transform: translateZ(80px);
  color: rgba(255, 255, 255, 0.9);
}

#about strong,
#about .text-neon-green {
  transform: translateZ(100px);
  display: inline-block;
  color: #00ff41;
}
